body {
    font-family: Arial, sans-serif;
    background-color: #ebc7c797;
}

h1 {
    text-align: center;
}

.center-table {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s;
    margin-bottom: 10px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
}

.card h3,
.card p {
    margin: 10px;
}